.footer {
    //background: #FCF2E6;
    background: #fffdf5;
}
/* Waves */
.wave__container {
  width: 100%;
  height: 40px;
  background: #FCF2E6;
}
.wave {
  z-index: 7;
  width: 100vw !important;
  height: 20px;
}

/* Footer info */
.footer__info {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 20px;
    width: 95%;
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 50px;
    padding-bottom: 50px;
}
.footer__info div {
    margin: 0 auto;
}
.footer__logo {
    width: 200px;
}
.footer__contact {
    color: #383434;
}
.footer__contact div {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.footer__icon {
    margin-right: 10px;
}

.icon {
    color: #383434;
    margin-left: 10px;
    width: 30px;
    transition: transform 450ms;
    position: relative;
}
.icon:hover {
    transform: scale(1.1);
}
.footer__btn {
  background: #FF5454;
  color: #fffdf5;
  border: none;
  border-radius: 50px;
  padding: 20px 40px;
  font-size: 16px;
  font-weight: 600;
  transition: transform 450ms;
  cursor: pointer;
  margin-top: 20px;
}
.footer__btn:hover {
  transform: scale(1.1);
}



/* 992 */
@media screen and (max-width: 992px) {
  .wave__container {
    height: 20px;
  }
}

/* 740 */
@media screen and (max-width: 740px) { 
    .footer__info {
        grid-template-columns: auto auto;
        row-gap: 20px;
    }
    .footer__logo {
        grid-column: 1 / span 2;
    }
}


/* 490 */
@media screen and (max-width: 490px) {
    .wave__container {
        height: 10px;
    }
    .footer__info {
        grid-template-columns: auto;
    }
    .footer__logo {
        grid-column: 1;
    }
    .footer__contact {
        justify-content: center;
    }
    .footer__socials {
        text-align: center;
    }
    .icon {
        margin: 0px 5px;

    }
}