.header {
    width: 100%;
    height: 60px;
    z-index: 9;
}
.header__container {
    background: #fffdf5;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 40px;
    z-index: 9;
}

.icon {
    color: #383434;
    font-size: 30px;
    margin-left: 10px;
}
.drawer {
    background: gray;
}