/* Product container */
.products__container {
    background: #fffdf5;
    width: 100%;
    padding: 50px 20px;
    padding-top: 50px;
    padding-bottom: 50px;
}
.products__container h2 {
    font-size: 40spx;
    text-align: center;
    margin-bottom: 50px;
    color: #383434;
}

/* Products */
.product__container1, .product__container2 {
    border-radius: 10px;
}
.product__container1 {
    background: #FCF2E6;
    margin-bottom: 20px;
}
.product__container2 {
    background: #FFE7E2;
}
/* top */
.product__top {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
}
.product__img {
    width: 40%;
}
.product__info1, .product__info2 {
    padding-left: 50px;
    width: 40%;
}
.product__info1 h3, .product__info2 h3{
    font-size: 110px;
    font-weight: bold;
    text-shadow: 5px 5px 0px #fff;
    line-height: 100px;
    margin: 20px 0px;
}
.product__info1 h3 {
    color: #9C713F;
}
.product__info2 h3 {
    color: #C65E4D;
}
.product__info1 h5, .product__info2 h5 {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: -15px;
}
.product__info1 h5 {
    color: #9C713F;
}
.product__info2 h5 {
    color: #C65E4D;
}
.product__info1 p, .product__info2 p {
    font-size: 20px;
    margin-bottom: 20px;
}
.product__info1 p {
    color: #E8CAA6;
}
.product__info2 p {
    color: #F4AEA1;
}
.product__quote {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    max-width: 580px;
}
.product__icon1, .product__icon2 {
    font-size: 120px;
    margin-right: 10px;
}
.product__icon1 {
    color: #9C713F;
}
.product__icon2 {
    color: #C65E4D;
}
.product__quote p {
    font-size: 30px;
}

/* bottom */
.product__bottom {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    padding: 50px;
}
.product__fact, .product__fact2 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.product__fact__img {
    width: 60px;
}
.product__fact h4, .product__fact2 h4 {
    font-size: 25px;
    font-weight: bold;
    margin-left: 20px;
}
.product__fact h4 {
    color: #E8CAA6;
}
.product__fact2 h4 {
    color: #F4AEA1;
}


/* 1500 */
@media screen and (max-width: 1500px) {
    .product__info1, .product__info2 {
        padding-left: 30px;
        width: 60%;
    }
}

/* 1150 */
@media screen and (max-width: 1150px) {
    .product__top {
        padding: 30px;
    }
    .product__bottom {
        padding: 30px;
    }
}

/* 992 */
@media screen and (max-width: 992px) {
    .product__top {
        flex-direction: column;
        align-items: center;
    }
    .product__img {
        width: 60%;
        margin-bottom: 20px;
    }
    .product__info1, .product__info2 {
        padding-left: 0;
        width: 100%;
        text-align: center;
    }
    .product__quote {
        margin: auto;
    }
    .product__info1 h3, .product__info2 h3 {
        font-size: 100px;
        line-height: 80px;
    }
    .product__bottom {
        grid-template-columns: repeat(2, 1fr);
    }
}

/* 768 */
@media screen and (max-width: 768px) { 
    .products__container h2 {
        font-size: 30px;
    }
    .product__fact h4, .product__fact2 h4 {
        font-size: 20px;
    }
    .product__info1 h3, .product__info2 h3 {
        font-size: 100px;
        line-height: 80px;
    }
}

/* 600 */
@media screen and (max-width: 600px) {
    .product__bottom, .product__top {
        padding: 20px;
    }
    .product__info1 h3, .product__info2 h3 {
        font-size: 80px;
        line-height: 60px;
    }
    .product__info1 h5, .product__info2 h5 {
        font-size: 25px;
    }
    .product__info1 p, .product__info2 p {
        font-size: 15px;
    }
    .product__icon1, .product__icon2 {
        font-size: 100px;
    }
    .product__quote p {
        font-size: 20px;
    }
    .product__fact h4, .product__fact2 h4 {
        font-size: 15px;
    }
}

/* 430 */
@media screen and (max-width: 430px) {
    .product__bottom {
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 10px;
    }
    .product__info1 h3, .product__info2 h3 {
        font-size: 60px;
        line-height: 50px;
    }
    .product__quote p {
        text-align: left;
    }
    .product__fact__img {
        width: 50px;
    }
}