.recetas__container {
    width: 100%;
    height: 70vh;
    background-image: url('../../public/img/landing/background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: -40px;
}
.recetas__overlay {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    text-align: center;
}
.recetas__overlay h2 {
    color: #fff;
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 40px;
}
.recetas__btn {
  background: #C65E4D;
  color: #fffdf5;
  border: none;
  border-radius: 50px;
  padding: 20px 40px;
  font-size: 16px;
  font-weight: 600;
  transition: transform 450ms;
  cursor: pointer;
}
.recetas__btn:hover {
  transform: scale(1.1);
}

/* Waves */
.waves__container1, .waves__container2 {
  width: 100%;
  height: 20px;
}
.waves__container1 {
  z-index: 9;
}
.waves__container2 {
  margin-bottom: 40px;
}
/* waves */
.wave1, .wave2 {
  z-index: 7;
  width: 100vw !important;
}
.wave1 {
  transform: rotate(180deg);
}

/* 1130 */
@media screen and (max-width: 1130px) {
  .waves__container2 {
    margin-bottom: 20px;
  }
}

/* 992 */
@media (max-width: 992px) {
  .waves__container1 {
    margin-bottom: -10px;
  }
  .recetas__container {
    height: 60vh;
    min-height: 400px;
  }
}

/* 768 */
@media screen and (max-width: 768px) { 
    .recetas__overlay h2 {
        font-size: 30px;
    }
    .waves__container2 {
      margin-bottom: 10px;
    }
}

/* 570 */
@media screen and (max-width: 570px) {
  .waves__container2 {
    margin-bottom: 0px;
  }
}
/* 370 */
@media screen and (max-width: 370px) {
  .waves__container1 {
    margin-bottom: -15px;
  }
  .waves__container2 {
    margin-bottom: -12px;
  }
}