.main {
  min-height: 100vh;
}

/* landing */
.waves__container {
  width: 100%;
  height: 20px;
}

/* waves */
.wave1, .wave2 {
  z-index: 7;
  width: 100vw !important;
}
.wave1 {
  transform: rotate(180deg);
}

/* landing info */
.landing__container {
  position: relative;
  top: -20px;
  z-index: 2;
  background: #FDF4E5;
  min-height: 80vh;
  margin-bottom: -40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.landing__inner__container {
  width: 400px;
  height: 400px;
  text-align: center;
}
.logo {
  opacity: 0.8;
}
.title {
  color: #383434;
}
.action__btn {
  background: #FF5454;
  color: #fffdf5;
  border: none;
  border-radius: 50px;
  padding: 20px 40px;
  font-size: 16px;
  font-weight: 600;
  transition: transform 450ms;
  cursor: pointer;
}
.action__btn:hover {
  transform: scale(1.1);
}

/* Plates */
.plate__container1, .plate__container2, .plate__container3 {
  position: absolute;
  //z-index: 5;
  overflow: hidden;
}
.plate__container1 {
  top: 60px;
  left: 10%;
  width: 200px;
}
.plate__container2 {
  bottom: calc(10vh + 20px) ;
  left: -150px;
  width: 500px;
}
.plate__container3 {
  top: 50px;
  right: -50px;
  width: 500px;
}
.plate1, .plate2, .plate3 {
  z-index: 3;
}

/* <------Facts------> */
.facts__container {
  background: #fffdf5;
  min-height: 80vh;
  width: 100%;
  z-index: 9999999999;
  margin-top: 20px;
}