.main {
  min-height: 100vh;
  background: #FCF2E6;
}

/* landing */
.waves__container1{
  width: 100%;
  height: 100px;
  position: fixed;
  top: 60px;
  z-index: 9;
  margin-bottom: 150px;
}
/* waves */
.wave1 {
  z-index: 7;
  width: 100vw !important;
}
.wave1 {
  transform: rotate(180deg);
}

/* landing info */
.title__container {
    width: 95%;
    max-width: 1000px;
    margin: auto;
    padding-top: 170px;
}
.title {
    font-size: 45px;
    color: #383434;
}

/* Filters */
.filters__inner__container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    color: #383434;
    width: 95%;
    max-width: 1000px;
    margin: auto;
    font-weight: 600;
}
.filter__item {
    width: 200px;
    background: #fffdf5;
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
    transition: transform 450ms;
    box-shadow: 0 14px 20px -6px rgb(76 79 106 / 30%);
    margin: 0 auto;
}
.filter__item:hover {
    transform: scale(1.1);
}


/* Recetas */
.recetas__container {
    width: 100%;
    padding: 50px 20px 100px 20px;
}
.recetas__inner__container {
    width: 100%;
    max-width: 1000px;
    margin: auto;
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
}
.receta__container {
    min-height: 290px;
    background: #fffdf5;
    border-radius: 10px;
}
.receta__img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
    background-size: cover;
    background-position: center;
}
.receta__container h4 {
    color: #383434;
    margin-left: 20px;
}
.receta__container button {
    background: #FF5454;
    color: #fffdf5;
    border: none;
    border-radius: 50px;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 600;
    transition: transform 450ms;
    cursor: pointer;
    margin-left: 20px;
    margin-bottom: 20px;
}
.receta__container button:hover {
    transform: scale(1.1);
}

/* 900 */
@media screen and (max-width: 900px) { 
    .filters__inner__container {
        grid-template-columns: repeat(2, 1fr);
        max-width: 400px;
    }
}

/* 768 */
@media screen and (max-width: 768px) { 
    .title {
        font-size: 30px;
        text-align: center;
    }
    .recetas__container {
        padding: 50px 20px 100px 20px;
    }
    .recetas__inner__container {
        grid-template-columns: repeat(3, 1fr);
    }
}

/* 600 */
@media screen and (max-width: 600px) { 
    .recetas__inner__container {
        grid-template-columns: repeat(2, 1fr);
    }
}

/* 480 */
@media screen and (max-width: 480px) { 
    .filter__item {
        width: 150px;
    }
    .title__container {
        padding-top: 70px;
    }
    .recetas__container {
        padding: 20px 10px 50px 10px;
    }
}

/* 430 */
@media screen and (max-width: 430px) { 
    .recetas__inner__container {
        grid-template-columns: repeat(1, 1fr);
    }
}